@using PRODUCT_TRACKING.Models.Entities
@model List<User>
@{
    ViewBag.Title = "ActivityUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">On Loan Product</h1>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Products
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>User Name Surname</th>
                            <th>User Name</th>
                            <th colspan="2" class="text-center">Options</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>User Name Surname</th>
                            <th>User Name</th>
                            <th colspan="2" class="text-center">Options</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (User item in Model)
                        {
                            <tr id="@item.Id">
                                <td>@(item.Name+" "+item.Surname)</td>
                                <td>@item.username</td>                                
                                <td><input type="submit" value="Activate" class="btn btn-success" id="Activate" onclick="ActivateUser(@item.Id)" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>*@

<!-- JavaScript -->
<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
<!-- Semantic UI theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css" />
<!-- Bootstrap theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css" />

<script type="text/javascript">
    function ActivateUser(ActivateID) {
        var User = {
            ID: ActivateID
            };
            $.ajax({
                url: '@Url.Action("Activate", "Authority")',
                type: 'POST',
                dataType: 'json',
                data: User,
                success: function (data) {
                    alertify.success('Activate işlemi gerçekleştirildi.');
                    $("#" + ActivateID).fadeOut("slow");
                }
            });
    }
</script>




